<div class="container">
  <div class="row">


      <tbody>

        <tr>

          <td><%= snippet.title %></td>
          <td><%= link_to snippet.user.username, snippet.user %></td>
          <td>
            <a href="#">Aspx.pdf</a>
          </td>

        </tr>

    </div>
