<h1 align='center'>Welcome to Snippy!</h1>
<h2>
  <%= image_tag("scissors.jpg", style: "height:500px;width:70%;", :alt => "scissors mascot") %>


  </h2>

  <%= link_to "Sign up", signup_path , class: "btn btn-lg btn-primary" %>
</div>
