<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="snippet_form">
      <%= render 'shared/snippet_form' %>
    </section>
  </aside>
  <div class="col-md-8">
      <h3>Snippets</h3>
      <%= render 'snippets/snippet' %>
    </div>
</div>
